

<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li disabled><a href="">See results</a></li>
        </ul>
        <h3 class="text-muted">Where's Matt?</h3>
    </div>
    <!-- Map and Side Panel -->
    <div class="row content">
        <!-- Google Map -->
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
        <div style='overflow:hidden;height:440px;width:700px;'>
        <div id='gmap_canvas' style='height:440px;width:700px;'>
        </div>

    
        <style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(53.3498053,-6.260309699999993),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(53.3498053,-6.260309699999993)});infowindow = new google.maps.InfoWindow({content:'<strong>Matt</strong><br>Dublin, Ireland<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
        </div>
        <!-- Side Panel -->
        <div class="col-md-5">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">This site is built with the MEAN stack, but what language do you prefer?</h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <form name ="addForm" novalidate>
                        <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                    
                        <div class="form-group">
                            <label for="language">Favorite Language</label>
                            <input type="text" class="form-control" id="language" placeholder="Fortran" ng-model="formData.favlang" required>
                        </div>

                        <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                        <button type="submit" class="btn btn-danger btn-block" ng-disabled="addForm.$invalid">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <!-- Footer -->
    <div class="footer">

    </div>
</div>