<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li disabled><a href="">See results</a></li>
        </ul>
        <h3 class="text-muted">Where's Matt?</h3>
    </div>
    <!-- Map and Side Panel -->
    <div class="row content">
        <!-- Google Map -->
        <div class="col-md-7">
            <div id="map"><img src="holder.js/645x645"></div>
        </div>
        <!-- Side Panel -->
        <div class="col-md-5">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">This site is built with the MEAN stack, but what language do you prefer?</h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <form name ="addForm" novalidate>
                        <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                    
                        <div class="form-group">
                            <label for="language">Favorite Language</label>
                            <input type="text" class="form-control" id="language" placeholder="Fortran" ng-model="formData.favlang" required>
                        </div>

                        <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                        <button type="submit" class="btn btn-danger btn-block" ng-disabled="addForm.$invalid">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <!-- Footer -->
    <div class="footer">

    </div>
</div>