
<!DOCTYPE html>
<html>
<head>

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

</head>

<body>

<div class="jumbotron text-center">
	<h2>“If you are not embarrassed by the first version of your product, you’ve launched too late.”
– Reid Hoffman, LinkedIn</h2>

<br>

<IMG SRC="http://www.hotelroomsearch.net/im/2015/01/dublin-ireland-1.jpg" ALT="some text" WIDTH=1000 HEIGHT=600>


<div id="googleMap" style="width:500px;height:380px;"></div>

	<p>{{ tagline }}</p>
</div>

</body>

</html>