<div class="jumbotron text-center">
	<h2>“If you are not embarrassed by the first version of your product, you’ve launched too late.”
– Reid Hoffman, LinkedIn</h2>

<br></br>
</div>

 <!-- Map and Side Panel -->
    <div class="row content">
        <!-- Google Map -->
        <div class="col-md-7">
         	<div class="panel-heading">
                    <h2 class="panel-title text-center">Where's Matt?</h2>
            </div>
         </div>
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=Dublin,Ireland&zoom=13&size=600x300&maptype=roadmap&key=AIzaSyAed-zLAelcpvUpeHiV804tQAWj3TZfuXc" alt="map" height="600" width="300"></img>
        

        <!-- Side Panel -->
        <div class="col-md-5">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">This site is built with the MEAN stack, but what language do you prefer?</h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <form name ="addForm" novalidate>
                        <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                    
                        <div class="form-group">
                            <label for="language">Favorite Language</label>
                            <input type="text" class="form-control" id="language" placeholder="Fortran" ng-model="formData.favlang" required>
                        </div>

                        <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                        <button type="submit" class="btn btn-danger btn-block" ng-disabled="addForm.$invalid">Submit</button>
                    </form>
                </div>
            </div>
        </div>




</div>