
<div class="jumbotron text-center">
	<h2>“If you are not embarrassed by the first version of your product, you’ve launched too late.”
– Reid Hoffman, LinkedIn</h2>

<br></br>
</div>

 <!-- Map and Side Panel -->
    <div class="row content">
        <!-- Google Map -->
        <div class="col-sm-7">

        	<div class="panel panel-default">

         		<div class="panel-heading">
                    	<h2 class="panel-title text-center">Where's Matt?</h2>
                </div>
               		<div class="panel-body">
						<img src="https://maps.googleapis.com/maps/api/staticmap?center=Dublin,Ireland&zoom=12&size=600x600&maptype=roadmap&markers=color:green%7Clabel:M%53.3493099,-6.24970264&key=AIzaSyAed-zLAelcpvUpeHiV804tQAWj3TZfuXc" alt="map" height="600" width="600"></img>
					</div>
				</div>
        	</div>

        <!-- Side Panel -->
        <div class="col-sm-5">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">This site is built with the MEAN stack, but what language do you prefer?</h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">

                   	<ul class="nav nav-pills pull-right">
            			<!-- <li disabled><a href="">See results</a></li> -->
        			</ul>

                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <form name ="addForm" novalidate>
                        <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                    
                        <div class="form-group">
                            <label for="language">Favorite Language</label>
                            <input type="text" class="form-control" id="language" placeholder="Fortran" ng-model="formData.favlang" required>
                        </div>

                        <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                        <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <br></br>
         <!-- Side Panel -->
        <div class="col-sm-5">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">What's Matt reading right now?</h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">

                    <img src="http://akamaicovers.oreilly.com/images/0636920032571/cat.gif" alt="book" height="385" width="420"></img>

            </div>
        </div>
    </div>
	</div>