  <!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css"> <!-- custom styles -->

  <title>musings</title>

</head>
<body>

  <div id="content">


    <section class="row">
      <div class="col-full">
        <h2>Musings</h2>
        <p>
       Coming soon
        </p>

        <img src="https://s-media-cache-ak0.pinimg.com/736x/fe/59/76/fe59767aa78691598bdc8fc50de44e91.jpg" alt="Dilbert"></div>

      </div>
    </section>

    <!--<section class="row">
      <div class="photo-grid">
        <a href="img/example-photo-b.jpg" rel="lightbox" class="col-2"><img src="img/example-photo-b.jpg" alt="Example photo"></a>
        <a href="img/example-photo-c.jpg" rel="lightbox" class="col-2"><img src="img/example-photo-c.jpg" alt="Example photo"></a>
        <a href="img/example-photo-a.jpg" rel="lightbox" class="col-1"><img src="img/example-photo-a.jpg" alt="Example photo"></a>
      </div>
    </section>-->


    <section class="row">
      <div class="col">
        <h2>Contact me</h2>
        <p>
          Just send me an <a href="mailto:mfoyle93@gmail..com?Subject=Hello">email</a>
        </p>
      </div>
      <div class="col">
        <h2>Follow me</h2>
        <p>
          I am on <a href="http://twitter.com/MatthewFoyle">Twitter</a>, and <a href="https://ie.linkedin.com/in/matthewfoyle">Linkedin</a>
        </p>
      </div>
    </section>


 
  </div>

 




</body>
</html>